body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: fixed;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    justify-content: space-between;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-left: 100px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #d84e55;
    margin-left: 5px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #333;
    text-decoration: none;
}

.nav-item:hover {
    color: #d84e55;
}

.nav-item img {
    height: 20px;
    margin-right: 5px;
}

.login {
    display: flex;
    align-items: center;
    background-color: #35a742;
    padding: 8px 15px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
}

.login:hover {
    background-color: #2c8a35;
}

.second_header {
    height: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(33, 33, 34);
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    display: block;
    padding-top: 80px;
    word-spacing: 3px;
}
#heritage{
    margin-top: 0px;
    margin-left: 150px;
}
#city{
    color: blue;
}
#first{
    margin-left: 150px;
}
#a{
    margin-left: 150px;
}
body{
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 14px;
    height: 1680px;
    background-color: black;
    margin: 0px 0px 0px 0px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.card {
    background-color: #2b2b2b;
    border-radius: 10px;
    width: 380px;
    min-height: 320px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 1.5em;
    margin-top: 10px;
}

.subtitle {
    color: #6fcf97;
    font-size: 1.1em;
    margin: 10px 0;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

#Explore{
    margin-top: 120px;
    text-align: center;
    font-weight: 100;
    color: rgb(60, 60, 244);
    padding-top: 50px;
}
#explore{
    margin-top: 142px;
    text-align: center;
    font-weight: 100;
    color: rgb(60, 60, 244);
    padding-top: 50px;
}

footer{
    display: fixed;
    text-algin: center;
    font-weight: bold;
    height: 100px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
